.App{
  background-color: rgb(32, 30, 30);
  color: white;
  height: 100%;
}

.file-css >.row{
  overflow-x: auto;
  flex-wrap: nowrap;
  padding: 0 480px 0;
}

.image-container{
  position: relative;
  transition: all 1s;
}
.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.overlay{
  position: absolute;
  background-color: rgba(15, 3, 3, 0.8);
  width: 94%;
  transition: all 1s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.image-container:hover > .overlay{
  opacity: 1;
}

.form-search{  
  position: absolute;
  left: 50%;
  color: aliceblue;
}

.form-search input[type="search"]{
  background-color: transparent;
  width: 350px;
  color: white;

}

.my-favorite{
  float: left;
}